endpoint = "http://10.0.1.9:2633/RPC2"
username = "oneadmin"
password = "opennebula"

SYLVA_CI_GIT_URL = "https://github.com/OpenNebula/sylva-ci.git"
SYLVA_CI_GIT_REV = "master"

GITLAB_PROJECT = "123456"
GITLAB_TOKEN   = "glpat-qwertyuio-p-asdfghjk"
